<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Code Arena - Sign In</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		
		<script src="../Controllers/loginController.js"></script>

		<link rel="stylesheet" type="text/css" href="../CSS/loginStyle.css">
		<link rel="stylesheet" type="text/css" href="../CSS/banner.css">
	</head>
	<body>

		<div ng-app="loginPage" ng-controller="loginCtrl as loginCtrl">
			<div id="banner">
				<h3 style="margin-left: 10px;">Code Arena</h3>
			</div>

			<div ng-switch="loginCtrl.state" class="center-piece">
				<div ng-switch-default>
					<form name="roleForm" style="height: 70px">
						<select name="roleSelector" ng-model="loginCtrl.selectedRole"
								ng-options="option as option.label for option in loginCtrl.compRole"></select>
					</form>
					<br>

					<div class="text-right">
						<button ng-click="loginCtrl.selectRole(loginCtrl.selectedRole)"
								class="btn btn-primary" ng-class="{'disabled': !loginCtrl.selectedRole}">
							Continue
						</button>
					</div>
				</div>

				<div ng-switch-when="ADMIN_LOGIN">
					<div class="text-right">
						<label>Email:</label>
					    <input type="text" ng-model="yourName" placeholder="Email">
					    <br>
						<label>Password:</label>
					    <input type="Password" placeholder="Password">
			    		<hr>
			    		<a href="adminPage.html"
							class="btn btn-primary">
							Login
						</a>
		      		</div>
				</div>

				<div ng-switch-when="ENTER_CODE">
					<div class="text-right">
						<label>Code:</label>
					    <input type="text" ng-model="loginCtrl.competitorCode" placeholder="Code">
					    <br>
			    		<hr>
			    		<button ng-click="loginCtrl.competitorSteps('code_entered')"
							class="btn btn-primary" ng-class="{'disabled': !loginCtrl.competitorCode}">
							Join
						</button>
		      		</div>
				</div>

				<div ng-switch-when="PICK_TEAM">
					<div class="text-right">
						<div style="display:flex">
							<label style="flex: 1">Team:</label>
							<form name="roleForm" style="height: 70px">
								<select name="roleSelector" ng-model="loginCtrl.selectedTeam"
										ng-options="option as option.teamName for option in loginCtrl.teams"></select>
							</form>
						</div>
					    <br>
			    		<hr>
			    		<a href="competitorPage.html"
							class="btn btn-primary" ng-class="{'disabled': !loginCtrl.selectedTeam}">
							Start
						</a>
		      		</div>
				</div>
			</div>
		</div>
	</body>
	
</html>