
#adminQuestionSection {
	height: 75%;
	width: 75%;
	background-color: #f7f7f7;
	border: solid;
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow:auto;
}

textarea {
	color: #000000;
	width: 76vh;
	height: 21vh;
	min-height: 15vh;
	max-height: 49vh;
	border: 1px solid #000000;
	box-shadow: 2px 2px 5px #828282;
}

