div h3 {
	color: rgb(255, 255, 255);
}

#banner {
	background-color: rgb(0, 0, 0); 
	height:40px;
}

#adminQuestionSection {
	height: 75%;
	width: 75%;
	background-color: #f7f7f7;
	border: solid;
	margin: 0;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow:auto;
}

textarea {
	width: 50%;
	height: 20%;
}