#bannerTitle {
	color: rgb(255, 255, 255);
	margin-left: 10px
}
#banner {
	background-color: rgb(0, 0, 0); 
	height:50px;
}

#questionCenter {
	width: 76vh;
	height: 50vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

textarea {
	color: #000000;
	width: 76vh;
	height: 21vh;
	min-height: 15vh;
	max-height: 49vh;
	border: 1px solid #000000;
	box-shadow: 2px 2px 5px #828282;
}