<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Code Arena</title>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
		<script src="compScript.js"></script>

		<link rel="stylesheet" type="text/css" href="compStyle.css">
	</head>
	<body>

		<div ng-app="" ng-controller="">
			<div id="banner" style="display: flex; align-items: baseline;">
				<div style="flex: 1">
					<h3 id="bannerTitle">Time Remaining: {{timeLeft}}</h3>
				</div>
				<div class="text-right">
					<button class="btn btn-outline-light" style="margin-right: 10px;">
						Scoreboard
					</button>
				</div>
			</div>

			<div>
				<div>
					<div ng-repeat="question in questionCtrl.questions">
						<h3>Question {{$index + 1}}</h3>
						<p>Some Question from the Database</p>
						<textarea id="question" placeholder="Enter code here..."></textarea>
						<br>
						<button ng-click="">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</body>
	
</html>